@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome after Commit (CI/CD)</h1>
    <p>you can add city (CI/CD commit 2).</p>

    <table>

    @if (!string.IsNullOrEmpty(Model.CityName))
    {
        <h1>
            Added @Model.CityName
        </h1>
    }

    @foreach (var city in Model.Cities)
    {
      <tr>
          <td>@city.Id</td>
          <td>@city.Name</td>
      </tr>  
    }
        <form asp-page="index" method="post">
            <input asp-for="@Model.CityName" type="text"/>
            <input type="submit" value="Add City"/>
        </form>
    </table>
</div>
